@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
* {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62%;
}

body {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f4f4f4;
  color: #555555;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main {
  -webkit-backdrop-filter: blur(200px);
          backdrop-filter: blur(200px);
  background-color: rgba(255, 255, 255, 0.35);
  border-radius: 9px;
  -webkit-box-shadow: 0 32px 80px rgba(0, 0, 0, 0.25);
          box-shadow: 0 32px 80px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-filter: blur();
          filter: blur();
  height: 600px;
  overflow: hidden;
  position: relative;
  width: 1000px;
}

.player {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  margin: 10px;
  padding: 20px 10px;
  padding-bottom: 10px;
  -webkit-transition: all 0.75s;
  transition: all 0.75s;
}

.player--active {
  background-color: rgba(255, 255, 255, 0.4);
}

.player--active .name {
  font-weight: 700;
}

.player--active .score {
  font-weight: 400;
}

.player--active .current {
  opacity: 1;
}

.name {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1px;
  margin-bottom: 10px;
  position: relative;
  text-transform: uppercase;
  word-spacing: 2px;
}

.score {
  color: #555555;
  font-size: 50px;
  font-weight: 300;
  margin-bottom: auto;
}

.current {
  background-color: #222222;
  border-radius: 9px;
  color: #ffffff;
  margin: 10px;
  padding: 20px;
  text-align: center;
  -webkit-transition: all 0.75s;
  transition: all 0.75s;
}

.current-label {
  color: #ffffff;
  font-size: 17px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.current .current-score {
  font-size: 35px;
}

.btn {
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-color: #ffffff;
  background: none;
  border: none;
  -webkit-box-shadow: 0 17px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 17px 20px rgba(0, 0, 0, 0.1);
  color: #222222;
  cursor: pointer;
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  left: 50%;
  padding: 7px 10px;
  position: absolute;
  text-transform: uppercase;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.btn::first-letter {
  display: inline-block;
  font-size: 24px;
  margin-right: 7px;
}

.btn--new {
  top: 270px;
}

.btn--roll {
  top: 330px;
}

.btn--hold {
  top: 390px;
}

.btn:active {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  -webkit-transform: translate(-50%, 3px);
          transform: translate(-50%, 3px);
}

.btn:focus {
  outline: none;
}

.dice {
  -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);
          box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);
  height: 80px;
  left: 50%;
  position: absolute;
  top: 140px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.player--winner {
  background-color: #00d8ff;
}

.player--winner .name {
  font-weight: 700;
  color: #222222;
}

.hidden {
  display: none;
}

@media (min-width: 991px) {
  .player {
    margin: 0;
    padding: 100px;
  }
  .name {
    font-size: 30px;
  }
  .btn--new {
    top: 70px;
  }
  .dice {
    height: 100px;
    top: 160px;
  }
}

@media (min-width: 1200px) {
  .player {
    margin: 0;
    padding: 90px;
  }
  .name {
    font-size: 40px;
  }
  .score {
    font-size: 80px;
  }
  .btn {
    padding: 7px 20px;
    position: absolute;
  }
  .btn--new {
    top: 40px;
  }
  .btn--roll {
    top: 390px;
  }
  .btn--hold {
    top: 460px;
  }
  .dice {
    height: 100px;
    top: 160px;
  }
}
/*# sourceMappingURL=styles.css.map */